
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="CodePathshalaAdmin" content="">
    <title>ReadMyCourse: Free live classes for professional courses</title>
    <!-- Custom fonts for this template-->
    <link href="../../Scripts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../../fonts/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body style="background-image: url('../Images/bg_4.jpg');">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <a href="../"><img src="../Images/site-logo-v2-full.png" class="img-fluid " alt="..."></a>
                                        <h6 class="h6 text-gray-900 mb-5 font-weight-bolder">Your Success Is Our Passion.</h6>


                                    </div>

                                    <form method="post" class="needs-validation" action="/Student/ValidateLogin" autocomplete="off" novalidate>
                                        <a href="./Instructor" class="btn btn-primary btn-user btn-block">
                                            Continue as Instructor
                                        </a>

                                        <hr>
                                        <a href="./Student" class="btn btn-primary btn-user btn-block">
                                            Continue as Student
                                        </a>
                                        <hr>
                                        <div class="text-center mb-5">
                                            <a target="_blank" rel="nofollow" href="./AboutUs">Know more about ReadMyCourse &rarr;</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../../Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="../../Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../../Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../Scripts/js/sb-admin-2.min.js"></script>

</body>
</html>

