@RenderPage("_Header.cshtml")
@{

}
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
                <div id="body">
                    @RenderBody()
                </div>
            </div>            
    </div>
    @RenderPage("_Footer.cshtml")
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
</body>
</html>
