@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
@{
    Layout = null;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You are not authorized to access this page</h2>


