@{
    ViewBag.Title = "ReadMyCourse | MAEG Award- Most Appreciated Educator around the Globe Award";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<style type="text/css">
    .header-award {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 100vw;
        min-height: 50vh;
        min-width: 90vw;
    }
    .poster-content {
        padding-left: 0px;
        padding-right: 0px;
        min-width: 50vw;
        min-width:50vh;
        background-color:blueviolet;
    }
    .poster-left{

    }
    .header-img {
        max-height: 40vh;
        max-width: 100vw;
    }
    .hideable-on-small{

    }
    .poster-right{
        

    }
    .poster-body{
        padding:3rem;
    }
    .animate {
        transition: all 0.1s;
        -webkit-transition: all 0.1s;
    }

    .action-button {
        padding: 10px 40px;
        border-radius: 10px;
        font-family: 'Pacifico', cursive;
        font-size: 25px;
        color: #FFF;
        text-decoration: none;
    }

    .blue {
        background-color: #3498DB;
        border-bottom: 5px solid #2980B9;
        text-shadow: 0px -2px #2980B9;
    }
    .card-group .card{
        margin-left:10px;
        margin-right:10px;
    }
</style>
<section>
    <div class="header-award">
        <div class="col-lg-12 p-0 m-0">
            <div class="col-lg-12 p-0 m-0">
                <div class="poster-left poster-content">
                    <div class="poster-body align-content-between">
                        <h2 class="text-white">MAEG Award- Most Appreciated Educator Around The Globe Award</h2>
                        <h6></h6>
                        <p class="text-white">This is your chance to give back to the community - mentor students to help them unlock their true potential.</p>
                        <a href="Instructor/Join" class="action-button shadow animate blue">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="poster-right poster-content"></div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftc-no-pb site-back-ground-image img">
    <div class="container">
        <!-- Outer Row -->

        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12">
                <div class="o-hidden border-0  my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-6 pt-1" data-stellar-background-ratio="0.5">
                                <div>
                                    <img class="img-fluid shadow-lg" id="large-on-small" src="~/Images/maeg-momento.jpeg" style="max-height:60vh;" />
                                </div>
                            </div>
                            <div class="col-lg-6" id="hideable-on-small">
                                <h2 class="font-weight-bold">Most Appreciated Educator Around The Globe Award</h2>
                                <h4>Become a part of ReadMyCourse's initiative to help millions of students around the globe by providing access to free education. This award will be given to all the instructors who participate in our initiative. </h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container-fluid p-0">
        <h2 class="text-center ">Why Should be a Mentor?</h2>
        <div class="mb-1 card-group p-0">
            <div class="col-lg-12 card-group">
                <div class="card shadow ftco-animate">
                    <div class="card-body">
                        <img src="~/Images/icon/web_icons/pride.svg" style="width:80px;height:80px;" />
                        <h4 class="text-center"><strong>A Matter of Pride</strong></h4>
                        <h6 class="text-center"><strong>Opportunity to showcase your ability to help grow someone in their career. It makes you special and will be remembered by the community always.</strong></h6>
                    </div>
                </div>
                <div class="card shadow ftco-animate">
                    <div class="card-body">
                        <img src="~/Images/icon/web_icons/machine-learning.svg" style="width:80px;height:80px;" />
                        <h4 class="text-center"><strong>Endless Learning For You Too</strong></h4>
                        <h6 class="text-center"><strong>Teaching improves your efficacy, confidence and communication skills. In addition to that it better organizes information to our mind.</strong></h6>
                    </div>
                </div>
                <div class="card shadow ftco-animate">
                    <div class="card-body">
                        <img src="~/Images/icon/web_icons/networking.svg" style="width:80px;height:80px;" />
                        <h4 class="text-center"><strong>An Ever Growing Network</strong></h4>
                        <h6 class="text-center"><strong>Meet professionals from different industries and build a long-lasting network of like-minded, driven individuals.</strong></h6>
                    </div>
                </div>
                <div class="card shadow ftco-animate">
                    <div class="card-body">
                        <img src="~/Images/icon/web_icons/microphone.svg" style="width:80px;height:80px;" />
                        <h4 class="text-center"><strong>Recognition</strong></h4>
                        <h6 class="text-center"><strong>You will get the full credit of your work, certificate and appreciation from our mentors.</strong></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-2">
    <div class="container-fluid p-0 mt-2 pt-2">
        <h2 class="text-center ">Steps to get MAEG Award</h2>
        <div class="mb-1 card-group p-0">
            <div class="col-lg-12 card-group">
                <div class="card shadow ftco-animate">
                    <div class="card-body text-center">
                        <h4 class="text-center"><strong>Step 1</strong></h4>
                        <img src="~/Images/icon/web_icons/shuttle.svg" class="text-center" style="width:80px;height:80px;" />
                        <h4 class="text-center"><strong>Launch</strong></h4>
                        <h6 class="text-center"><strong>Launch any live course on our platform. It takes less than a minute. Choose any topic that you are most familier with.</strong></h6>
                    </div>
                </div>
                <div class="card shadow ftco-animate">
                    <div class="card-body text-center">
                        <h4 class="text-center"><strong>Step 2</strong></h4>
                        <img src="~/Images/icon/web_icons/approved.svg" class="text-center" style="width:80px;height:80px;" />
                        <h4 class="text-center"><strong>Get Verified</strong></h4>
                        <h6 class="text-center"><strong>Your course will be verified by our team. Such that it follows our community standards.</strong></h6>
                    </div>
                </div>
                <div class="card shadow ftco-animate">
                    <div class="card-body text-center">
                        <h4 class="text-center"><strong>Step 3</strong></h4>
                        <img src="~/Images/icon/web_icons/live.svg" class="text-center" style="width:80px;height:80px;" />
                        <h4 class="text-center"><strong>Live</strong></h4>
                        <h6 class="text-center"><strong>After varification your course will be live and student will start registering.</strong></h6>
                    </div>
                </div>
                <div class="card shadow ftco-animate">
                    <div class="card-body text-center">
                        <h4 class="text-center"><strong>Step 4</strong></h4>
                        <img src="~/Images/icon/web_icons/medal.svg" class="text-center" style="width:80px;height:80px;" />
                        <h4 class="text-center"><strong>Receive Certificate</strong></h4>
                        <h6 class="text-center"><strong>After students registered to your course, You can start the classroom and after finishing the course you will receive the certificate.</strong></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftc-no-pb site-back-ground-image img">
    <div class="container">
        <!-- Outer Row -->

        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12">
                <div class="o-hidden border-0  my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-6 pt-1" data-stellar-background-ratio="0.5">
                                <div>
                                    <img class="img-fluid shadow-lg" id="large-on-small" src="~/Images/maeg-cer.jpeg" style="max-height:60vh;" />
                                </div>
                            </div>
                            <div class="col-lg-6" id="hideable-on-small">
                                <h2 class="font-weight-bold">Most Appreciated Educator Around The Globe Award</h2>
                                <h4>You will also get the certificate of appreciation.</h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftc-no-pb">
    <h1 class="text-center">About Us</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12  wrap-about py-5 wrap-about bg-light">
                <div class="text px-4 ftco-animate">
                    <h2 class="mb-4">Welcome to ReadMyCourse</h2>
                    <p>
                        <strong>readmycourse.com</strong> is a next generation e-learning platform which provides fully interactive live classes for professional courses and have an aim to create social network of students,
                        instructors and institutions.
                    </p>
                    <h3>Our Mission</h3>
                    <blockquote>
                        “To accommodate everyone’s educational needs by providing self paced, relevant,
                        and personalized content in an e-learning platform which bridges the gap between instructors and
                        students worldwide through live courses by providing an “online live course marketplace” for instructors
                        to create and sell their courses globally”
                    </blockquote>
                    <h3>Our Vision</h3>
                    <blockquote>
                        “To eliminate all educational restrictions & geographical boundaries & providing quality education by connecting Instructors and Students
                        from all over the world to learn, earn and grow on our next-generation e-learning platform”
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(".live_class").hover(
   function () {
       $(this).addClass("shadow-lg");
   },
   function () {
       $(this).removeClass("shadow-lg");
   }
 );
   $("#maegAward").addClass("active");
</script>